#!/bin/bash
set -x  # print each command before executing it

echo "PATH variable:"
echo $PATH

echo "List installed packages:"
dpkg -l

echo "Updating package list"
sudo apt-get update -y

echo "Installing git"
sudo apt-get install git -y

echo "Downloading MySQL APT Config"
wget https://dev.mysql.com/get/mysql-apt-config_0.8.12-1_all.deb

echo "Installing MySQL APT Config"
sudo dpkg -i mysql-apt-config_0.8.12-1_all.deb

echo "Installing MySQL Client"
sudo apt-get install mysql-client -y

echo "Cloning vprofile-project repo"
git clone -b vp-rem https://github.com/devopshydclub/vprofile-project.git

echo "Running MySQL command"
mysql -h ${rds_endpoint} -u ${db_user} --password=${db_password} accounts --ssl-mode=DISABLED < /home/ubuntu/vprofile-project/src/main/resources/db_backup.sql
